* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #252525;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
}

#container #video-container {
    width: 80%;
    height: 100%;
    display:inline-block;
    position:relative;
}

#container #video-container #video-section {
    width: 100%;
    height: 100%;
    display: flexbox;
    flex-direction: row;
}

#container #video-container #video-section .video {
    width: 100%;
    height: 100%;
}

#container #chat {
    width: 20%;
    height: 100%;
}

#button-container {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-container  button {
    margin: 30px;
}

#container #chat #messages {
    width: 100%;
    height: 90%;
    background-color: white;
    border-left: 5px;
    border-bottom: 5px;
    overflow: scroll;
    padding: 10px;
    box-sizing:border-box;
}

#container #chat #text {
    width: 100%;
    height: 10%;
}

#container #chat #text input {
    width: 94%;
    height: 100%;
}

.button {
    width: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.message {
    width: 100%;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.message p {
    text-align: center;
}

@media (max-width: 500px) {
    #container {
        display: inline-block;
    }

    #container #video-container {
        width: 100%;
    }

    #container #chat {
        width: 100%;
    }
}